@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  background-color: #F6F7FC;
  color: #484B54;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.h-screen-minus-5 {
  height: calc(100vh - 2.25rem);
}